@media only screen and (max-width: 600px) {

  /* SOLO HOMEPAGE */
  [id="L3482832595"] column-set {
    display: flex;
    flex-direction: column;
  }

  /* TITOLO */
  [id="L3482832595"] column-unit[slot="0"] {
    order: 1;
  }

  /* IMMAGINE */
  [id="L3482832595"] column-unit[slot="2"] {
    order: 2;
    margin: 4rem 0 -50rem 0; /* regolabile */
  }

  /* SCROLL DOWN */
  [id="L3482832595"] column-unit[slot="1"] {
    order: 3;
    margin-top: -21;
  }

}
